/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  /* General Styles */
    html {
      font-size: 16px;
    } 

    body {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1em;
      text-align: left;
      color: #F8F2F2;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    p {
      font-size: .875em;
      line-height: 1.285;
    }

    a:link {
      text-decoration: none;
      color: #F8F2F2;
    }

    a:hover {
      text-decoration: underline;
    }

    a:visited {
      color: #F8F2F2;
    }

    img {
      width: 100%;
    }

    figure {
      margin: 0;
    }

    address {
      font-style: normal;
    }

    .content-wrapper {
      width: 90%;
      margin: 50px 0;
    }
/* -------------------- Base Header - Footer Styles -------------------- */

   /* Header styles */
   header {
    background: url(../img/two-pink-wall.jpg);
    background-size: cover;
    background-position: 50%;
    padding: 0 0 20px 0;
   }

   header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    width: 100%;
   }

   header .nav-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
   }

   header figure {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(255,255,255,0.4);
    text-align: center;
   }

   header figure img {
    width: 30%;
    padding: 5px 0 12px;
   }

   header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    font-size: 1.125em;
    font-weight: 700;      
    text-transform: lowercase;
    padding-top: 10px;
   }

   header nav ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
   }

   header nav ul li {
    font-size: 1.125em;
    }

   /* Footer styles */
   footer {
    background-color: #8C2A2A;
    padding: 10px;
   }

   footer .content-wrapper {
      margin: 0;
      width: 100%;
      display: flex;
   }

   footer .contact {
      font-size: .7em;
      text-align: center;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
   }

   footer .contact h4, p {
      margin: 0;
   }

   footer figure {
      display: flex;
      align-items: center;
      text-align: center;
   }

    footer img {
      width: 50%;
   }

   footer .social-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;  
   }


/* -------------------- Mobile Styles - Homepage -------------------- */
   
   /* Hero Area */
   .hero-area h1 {
      font-family: 'Josefin Slab', serif;
      font-size: 3em;
      text-align: center;
      width: 100%;
    }

    .hero-area h2 {
      font-size: 1.5em;
      text-transform: uppercase;
      text-align: center;
      max-width: 90%;
    }

    .hero-area .image-wrapper {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
    }

    .hero-area .image-wrapper p {
      font-size: 1.5em;
    }

    .hero-area img {
      width: 20%;
    }

   /* Work Samples Area */
   .work-samples .content-wrapper {
    width: 100%;
    margin: 0;
   }

   /* About Area */
   .about-me {
    background: url(../img/ochre-wall.jpg);
    background-size: cover;
   }

   .about-me .content-wrapper {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
   }

   .about-me img {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
   }

   .about-me p {
    width: 75%;
    text-align: center;
    font-size: 1.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
   }

/* ==========================================================================
   About Page
   ========================================================================== */

   .about-hero-area h1 {
      padding: 100px 0;
      font-size: 3em;
      font-family: 'Josefin Slab', serif;
   }

    .about {
      background-color: #F8F2F2;
      display: flex;
      justify-content: center;
      padding: 50px 0;
   }

   .about .content-wrapper {
    margin: 0;
    width: 80%;
   }

   .about .image-container {
      text-align: center;
  }

   .about img {
      border-radius: 50%;
      width: 80%;
   }

   button {
      background-color: #F2A30F; 
      border-radius: 8px;
      border-style: none;
      margin: 40px 0;
      text-transform: uppercase;
      width: 50%;
      padding-top: 5px;
      font-size: .75em;
      font-weight: 700;
      box-shadow: 5px 5px 10px #8C2A2A;
   }

   .image-container button a:visited {
    color: #8C2A2A;
   }

   .image-container button a:link {
    color: #8C2A2A;
   }

   .about p {
      color: #8C2A2A;
      text-align: center;
   }

 

/* ==========================================================================
   Portfolio Page
   ========================================================================== */
   .portfolio-hero-area h1 {
      padding: 100px 0;
      font-size: 3em;
      font-family: 'Josefin Slab', serif;
   }  

   .portfolio-area {
      background-color: #F8F2F2;
      color: #8C2A2A;
      text-align: center;
   } 

   .portfolio-area .content-wrapper {
     margin: 0;
     width: 100%;
     padding-bottom: 20px;
   }

   .portfolio-area img {
     padding-top: 30px;
   }

   .portfolio-area .portfolio-icons {
    width: 25%;
    padding-top: 50px;
   }

   .portfolio-area h3 {
    font-size: 2em;
    font-weight: 300;
   }

    .portfolio-area h4 {
      padding: 10px 0;
   }

/* ==========================================================================
   Contact Page
   ========================================================================== */
  .contact-hero-area h1 {
      padding: 100px 0;
      font-size: 3em;
      font-family: 'Josefin Slab', serif;
   }   

    .contact-area {
      background-color: #F8F2F2;
   }

    .contact-area .content-wrapper {
      margin: 0;
      width: 100%;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
   }

    .contact-area h4 {
      color: #8C2A2A;
      margin: 0;
      padding: 100px 0 60px 0;
      width: 75%;
      text-align: center;
      font-size: 1.3em;
   }

    .contact-area form {
      color: #8C2A2A;
      padding-bottom: 100px;
      width: 70%;
   }

    label {
      font-weight: 600;
    }

    input {
      width: 100%;
      color: grey;
      border: 0;
      border-bottom: 1px solid #8C2A2A;
      font-style: italic;
      font-weight: 300;
      background-color: #F8F2F2;
      height: 40px;
    }

    .submit-button {
      border: 2px solid #8C2A2A;
      text-transform: uppercase;
      padding-top: 5px;
      font-style: normal;
      font-weight: 700;
      color: #8C2A2A;
    }

    .submit-button:hover {
      text-decoration: underline;
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/*Tablet styles here*/

  /* General styles */

  /* Header */
  header {
    padding: 40px 0 60px 0;
    background-position: 19%;
  }

  header .content-wrapper {
    max-width: 90%;
    margin: auto;
    
  }

  header .nav-area {
    display: flex;
    flex-wrap: nowrap;
  }

  header figure {
    background-color: transparent;
    text-align: left;
  }

  header figure img {
    width: 40%;
  }

  header nav {
    font-size: 1.3em;
  }

  header nav ul {
    justify-content: flex-end;
  }

  header li {
    padding-left: 50px;
  }

  /* Hero Area */

  header .hero-area {
    padding-top: 40px;
  }

  header .hero-area h1 {
    font-size: 4em;
    margin-bottom: 0;
  }

  header .hero-area h2 {
    font-size: 1.6em;
  }

  header .image-wrapper {
    padding-top: 50px;

  }

  header .image-wrapper img {
    padding: 0 60px;
  }

  header .hero-area .image-wrapper p {
    font-size: 2.5em;
  }


  /* Work Samples Area */
  main .work-samples .content-wrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  main .work-samples img {
    width: 50%;
    
  }

  /* About Area */
  main .about-me {
    padding: 50px 30px;
  }


  main .about-me .content-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  main .about-me img {
    width: 40%;
    padding: 0 20px;
  
  }

  main .about-me p {
    width: 45%;
    padding: 0 20px;
    font-size: 1.5em;
  }

  /* Footer */
  footer {
    padding: 10px 30px 20px;
   }

   footer .contact {
      font-size: 1.5em;
   }

  footer img {
      width: 35%;
      padding-left: 65px;
   }

   footer .social-icons {
      text-align: right;
   }

/* ==========================================================================
   About Page
   ========================================================================== */
   .about .content-wrapper {
      display: flex;
      flex-flow: row;
      padding-top: 80px;
      padding-bottom: 60px;
   }

   .about-hero-area h1 {
    font-size: 4em;
    font-weight: 600;
   }

   .about .image-container {
      padding-right: 50px;
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;
   }

   .about img {
      width: 90%;
   }

   .about p {
      text-align: left;
      width: 150%;
   }

/* ==========================================================================
   Portfolio Page
   ========================================================================== */
   .portfolio-hero-area h1 {
    font-size: 4em;
    font-weight: 600;
   }

   .portfolio-area .content-wrapper {
     width: 100%;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-evenly;
   }

   .portfolio-area .development-section {
     width: 40%;
   }

   .portfolio-area .design-section {
     width: 40%;
   }

   

/* ==========================================================================
   Contact Page
   ========================================================================== */
  .contact-hero-area h1 {
    font-size: 4em;
    font-weight: 600;
   }

  .contact-area form {
     width: 65%;
   }

   .contact-area h4 {
      width: 70%;
      font-size: 1.5em;
   }

   form .name-container, .email-container {
    width: 45%;
   }

   form .message-container {
    width: 100%;
    padding-top: 20px;
   }

   form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
   }

    form .submit-button-container {
      width: 100%;
      display: flex;
     justify-content: center;
   }

   form .submit-button {
      width: 60%;
   }
}

@media only screen and (min-width: 1200px) {
/*Desktop styles here*/
  .hero-area {
      min-height: 450px;
    }

  /* Header */
    header {
    background-position: ;
  }


   header .content-wrapper {
     justify-content: center;
     max-width: 90%;
    }

    header figure {
    width: 55%;
  }

    header ul {
      font-size: 1.5em;
    }

    header li {
      padding-left: 75px;
    }

  /* Hero Area */
    header .hero-area .content-wrapper {
      width: 75%;
    }

    header .hero-area h1 {
      font-size: 6em;
      margin-top: 30px;
    }

    header .hero-area h2 {
      width: 100%;
      font-size: 2em;
    }

    header .image-wrapper {
      padding-top: 30px;
    }

    header .image-wrapper img {
    padding: 0 90px;
    }

    header .hero-area .image-wrapper p {
      font-size: 3em;
    }

  /* Work Samples Area */

  /* About Area */
    main .about-me {
    padding: 80px 50px;
    }

    main .about-me img {
      width: 35%;
    }

    main .about-me p {
      font-size: 2.2em;
    }

  /* Footer Area */
    footer {
      padding: 30px 50px;
   }

    footer .contact {
      padding-right: 100px;
    }

    footer img {
      width: 25%;
   }

    footer .social-icons {
    justify-content: space-around;    
   }

/* ==========================================================================
   About Page
   ========================================================================== */
   .about-hero-area h1 {
    font-size: 6em;
    font-weight: 700;
   }

   .about .image-container {
    width: 50%;
   }

   .about p {
    width: 80%;
    font-size: 1.3em;
    padding-left: 50px;
   }

/* ==========================================================================
   Portfolio Page
   ========================================================================== */
    .portfolio-hero-area h1 {
    font-size: 6em;
    font-weight: 700;
   }

/* ==========================================================================
   Contact Page
   ========================================================================== */
   .contact-hero-area h1 {
    font-size: 6em;
    font-weight: 700;
   }

   .contact-area h4 {
      font-size: 2em;
      padding-bottom: 80px;
   }

   form {
    width: 60%;
   }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

